@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Faster+One&family=Open+Sans:wght@300&display=swap');

.texto-faster{
    font-family: 'Faster One', cursive !important;
}

.texto-mitad{
    font-family: 'Days One', sans-serif !important;
}

.titulo-mitad{
    font-family: 'Days One', sans-serif !important;
}

.ban-2{
    font-family: 'Days One', sans-serif !important;
}

.letra-G{
    font-family: 'Days One', sans-serif !important;
}